/* General Footer Styles */
.footer {
  width: 100%;
  background-color: #121619;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in the total width and height */
}

.footer p {
  color: white;
  margin: 10px 0; /* Adjust margin for spacing */
}

/* Social Media Icons */
.socialMedia svg {
  color: white;
  margin: 10px; /* Adjusted margin */
  font-size: 50px; /* Adjusted size for responsiveness */
  cursor: pointer;
}
